*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}


/* Header Section */

header {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8eefe;
    padding-right: 3%;
}

header button {
    height: 50px;
    width: 80px;
    border-radius: 10px;
    background-color: #3da9fc;
    border-style: none;
    color: #fffffe;
    font-size: large;
    margin-left: 30px;
    cursor: pointer;
    border: 2px solid transparent;
}

header button:hover{
    border-color: #094067;
}

#content{
    min-height: 80vh;
    width: 100vw;
    display: flex;
    background-color: #90b4ce;
}

.btn-selected{
    box-shadow: 8px 8px 2px #094067;
}

section {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

/* Home Section */

.title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color: #fffffe;
    text-shadow: 5px 5px 2px #094067;
}

.mid-sections {
    height: fit-content;
    width: 40%;
    padding: 30px;
    margin-bottom: 50px;
    border: 5px dotted #ef4565;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mid-sections p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: large;
    text-align: justify;
    font-weight: 500;
    margin-bottom: 30px;
}

.mid-sections h3 {
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-end;
}

.mid-sections ul{
    font-size: large;
    text-align: center;
}

section .mid-sections:nth-child(3) h2{
    align-self: flex-start;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

section .mid-sections:last-child h2:first-child{
    align-self: flex-start;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mid-sections ul{
    list-style: none;
}

.map{
    height: 150px;
    border-radius: 10px;
    margin: 30px 0;
}

/* Menu Section */

.sub-title{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #094067;
    text-decoration: underline;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.sub-container{
    border: 2px outset #ef4565;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.sub-container * {
    margin-bottom: 10px;
}

.sub-container h3 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sub-container h4 {
    align-self: flex-start;
    padding-left: 10px;
}

.sub-container p {
    font-size: 20px;
}

.product-img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}


/* Footer Section */

footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f6c7b;
}